node_modules/
 

et-cache/

wp-content/*
!wamp/wp-content/uploads/
!wamp/wp-content/themes/
!wamp/wp-content/plugins/
!wamp/wp-content/ngg/


themes/*
!wamp/wp-content/themes/Divi/
!wamp/wp-content/themes/divi-child-framework/


